@use '../../scss/variables' as *;

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;

    background-image: url(../../assets/background1.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    form {
        display: flex;
        flex-direction: column;
        background-color: $blue;
        padding: 10rem;
        border-radius: 5px;

        label {
            font-size: 2.2rem;
            margin-bottom: 1rem;
            color: $white;
            font-weight: bold;
        }

        input {
            font-size: 2rem;
            padding: 1rem;
            border: none;
            margin-bottom: 1rem;
            border-radius: 5px;
        }

        button {
            font-size: 2rem;
            padding: 1rem;
            border: none;
            background-color: $white;
            color: $black;
            font-weight: bold;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            border-radius: 5px;
            margin-top: 1rem;

            &:hover {
                background-color: $rose;
                color: $white;
            }
        }
    }
}
