@use '../../scss/variables' as *;

.listContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    padding: 2rem;
    margin: 8rem;
    background-color: $darkGrey;
    border-radius: 5px;
}

.containerTitle {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
    color: $white;
}

.operationsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 2rem;
    background-color: $darkGrey;
}

.operation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: $white;

    p {
        font-size: 2.2rem;
        margin: 0;
        padding: 0.5rem;
        background-color: $white;
        border-inline: 1px solid $darkGrey;
    }

    .amount {
        font-size: 2rem;
        width: 10rem;
    }

    .category {
        font-size: 2rem;
        width: 15rem;
    }

    .description {
        font-size: 2rem;
        width: 30rem;
    }

    .date {
        font-size: 2rem;
        width: 10rem;
    }
}

.addOperation {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    color: $white;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    width: 100%;
    background-color: $red;
    border-top: 1px solid $darkGrey;
    padding: 1rem;
    border-style: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:hover {
        background-color: $white;
        color: $red;
    }
}
