@use '../../scss/variables' as *;

.container {
    text-align: center;
    font-size: 10rem;
    padding: 5rem;
    margin: 8rem;
    background-color: $orange;
    color: $white;
    width: auto;
    border-radius: 5px;

    h2 {
        color: $white;
        font-size: 6rem;
        font-weight: bold;
    }
}

.amountContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;

    h3 {
        color: $white;
        font-size: 4rem;
        font-weight: bold;
        margin-left: 4rem;
        margin-right: 4rem;
    }

    p {
        font-weight: bold;
        font-size: 8rem;
        margin-left: 4rem;
        margin-right: 4rem;
    }
}
