@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap');

//font
$font: 'Source Sans Pro', sans-serif;

// colores
$purple: #4a00c2;
$red: #ff334b;
$white: #fff;
$darkGrey: #404040;
$black: #000;
$green: #2bcd0a;
$orange: #ff8c00;

// fuentes
$light: 300;
$bold: 600;
