@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap');

//font
$font: 'Source Sans Pro', sans-serif;

// colores
$cian: #4cb8b3;
$blue: #334bff;
$purple: #8133ff;
$rose: #ff33b1;
$red: #ff334b;
$white: #fff;
$darkGrey: #404040;
$black: #000;
$green: #2bcd0a;

// mediaqueries
$phone: 485px;
$tablet: 770px;
$desktop: 1200px;

// fuentes
$light: 300;
$bold: 600;
